/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Tirtillium Web', sans-serif
    background-color rgb(255,255,0);
    color: #FEFEFE;
}

a{
    color: #FF0042;
    font-weight: bolder;
    font-decoration: none;
}

h1{
    font-size:16px;
    font-weight:bolder;
}

/* home.html */

.container{
    margin: 20px;
    padding:20px;
}